/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
#content
{
	width: 100% !important;
}

#sidebar
{
	display:none !important; 
}

#MathContainer
{
	width:100% !important;
	display: none !important;
}

nav
{
	display: none;
}

input
{
	display: none; 
}

.form
{
	display: none;
	visibility: hidden;
}

.myButton
{
	visibility: hidden;

}