@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* line 29, ../sass/main.sass */
h1 {
  font-family: "Roboto Slab", ff-tisa-web-pro, Georgia, Arial, sans-serif;
  font-size: 175%;
}

/* line 33, ../sass/main.sass */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: white;
}
/* line 38, ../sass/main.sass */
body nav {
  color: white;
  background-color: #4a4d50;
}

/* line 42, ../sass/main.sass */
#content {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: auto;
}
@media (max-width: 1023px) {
  /* line 42, ../sass/main.sass */
  #content {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  /* line 42, ../sass/main.sass */
  #content {
    width: 1000px;
  }
}
/* line 53, ../sass/main.sass */
#content h1 {
  text-align: center;
}
/* line 56, ../sass/main.sass */
#content p {
  margin: 10px;
}
/* line 59, ../sass/main.sass */
#content #sidebar {
  width: 205px;
  display: inline-block;
  height: auto;
  float: left;
  margin-top: 30px;
  padding-bottom: 10px;
  background: #CCC;
}
/* line 69, ../sass/main.sass */
#content #sidebar .item span {
  margin: 10px;
  display: block;
}
/* line 73, ../sass/main.sass */
#content #sidebar .item div .selected {
  background-color: #DDD;
}
/* line 76, ../sass/main.sass */
#content #sidebar .item div a {
  text-align: center;
  vertical-align: center;
  color: #444;
  display: inline-block;
  background-color: #ccc;
  width: 180px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 20px;
  padding: 2px;
  padding-bottom: 4px;
  text-decoration: none;
}
/* line 90, ../sass/main.sass */
#content #sidebar .item div a:hover {
  color: #009AFD;
  background-color: #EEE;
}
/* line 95, ../sass/main.sass */
#content #inner-content {
  display: inline-block;
  margin-top: 40px;
  padding-top: 0px;
  width: 100%;
}

/* line 102, ../sass/main.sass */
#MathContainer {
  border: 1px balck;
  text-align: center;
  width: 90%;
  height: 70px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
@media (max-width: 1023px) {
  /* line 102, ../sass/main.sass */
  #MathContainer {
    padding: 0px;
    background-color: none;
  }
}
@media (min-width: 1024px) {
  /* line 102, ../sass/main.sass */
  #MathContainer {
    padding: 2em;
    background-color: #ecf0f1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
/* line 122, ../sass/main.sass */
#MathContainer #result {
  font-family: "Roboto Slab", ff-tisa-web-pro, Georgia, Arial, sans-serif;
  display: block;
  height: 50px;
}
@media (max-width: 1023px) {
  /* line 122, ../sass/main.sass */
  #MathContainer #result {
    font-size: 1em;
  }
}
@media (min-width: 1024px) {
  /* line 122, ../sass/main.sass */
  #MathContainer #result {
    font-size: 1.5em;
  }
}

/* line 134, ../sass/main.sass */
#select {
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 141, ../sass/main.sass */
#select > logo {
  line-height: 60px;
  height: 60px;
  color: #009AFD;
  margin-left: 65px;
  font-size: 21px;
}
/* line 148, ../sass/main.sass */
#select > logo::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  content: " ";
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect style='fill:#009AFD;' width='30' height='4' y='2'/><rect style='fill:#009AFD;' y='22' width='30' height='4'/><rect style='fill:#009AFD;' y='12' width='30' height='4'/></svg>");
  background-size: contain;
}
/* line 158, ../sass/main.sass */
#select #user {
  width: 560px;
  float: right;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  margin-right: 15px;
}
@media (max-width: 1023px) {
  /* line 158, ../sass/main.sass */
  #select #user {
    display: none;
  }
}
/* line 169, ../sass/main.sass */
#select #user input {
  margin-right: 10px;
}
/* line 171, ../sass/main.sass */
#select #user span {
  margin-right: 10px;
}
/* line 173, ../sass/main.sass */
#select #user .myButton {
  margin-right: 10px;
}
/* line 176, ../sass/main.sass */
#select #user button:active {
  position: relative;
}

/* line 179, ../sass/main.sass */
.minInput {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 10px;
  width: 30px;
  border-radius: 5px 0px 0px 5px !important;
}

/* line 187, ../sass/main.sass */
.maxInput {
  padding-left: 0px;
  margin-left: 0px;
  width: 30px;
  border-radius: 0px 5px 5px 0px !important;
}

/* line 196, ../sass/main.sass */
.column {
  display: inline-block;
  width: 49%;
  text-align: center;
}

/* line 201, ../sass/main.sass */
.hide {
  max-height: 0px;
}

/* line 204, ../sass/main.sass */
.popup {
  opacity: 1;
  position: inherit;
  height: 153px;
  width: 250px;
  background-color: #DDD;
  z-index: 20;
  float: right;
}
/* line 212, ../sass/main.sass */
.popup input {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 230px;
  display: block;
  margin-top: 5px;
}
/* line 218, ../sass/main.sass */
.popup .myButton {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 230px;
  display: block;
  margin-top: 5px;
}

/* line 225, ../sass/main.sass */
.form .row label {
  width: 80%;
  display: inline-block;
}

/* line 231, ../sass/main.sass */
.sform .row {
  width: auto !important;
  margin: 10px;
}

/* line 235, ../sass/main.sass */
.form {
  width: 100%;
}
/* line 237, ../sass/main.sass */
.form > .scol {
  text-align: center;
}
/* line 240, ../sass/main.sass */
.form > .row {
  position: relative;
  border: 1px solid #E1E1E8;
  padding-bottom: 10px;
  padding-top: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
/* line 249, ../sass/main.sass */
.form > .row > .col {
  padding: 5px;
  display: inline-block;
  text-align: center;
}
@media (min-width: 1024px) {
  /* line 249, ../sass/main.sass */
  .form > .row > .col {
    width: 48%;
  }
}
@media (max-width: 1023px) {
  /* line 249, ../sass/main.sass */
  .form > .row > .col {
    width: 100%;
  }
}
/* line 260, ../sass/main.sass */
.form .row::before {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  content: attr(rel);
  box-sizing: border-box;
  text-indent: 15px;
  padding: 5px;
  background-color: #ecf0f1;
}

/* line 274, ../sass/main.sass */
.poput_visable {
  visibility: visible;
}

/* line 277, ../sass/main.sass */
.popup_hidden {
  visibility: hidden;
}

/* line 280, ../sass/main.sass */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
  border: 1px solid rgba(39, 41, 43, 0.15);
  padding: 5px;
  border-radius: 2px;
}

/* line 292, ../sass/main.sass */
.myButton {
  -moz-box-shadow: inset, 0px, 1px, 0px, 0px, #ffffff;
  -webkit-box-shadow: inset, 0px, 1px, 0px, 0px, #ffffff;
  box-shadow: inset, 0px, 1px, 0px, 0px, #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* line 308, ../sass/main.sass */
.myButton:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  color: #009AFD;
}

/* line 315, ../sass/main.sass */
.alert_show {
  visibility: visible !important;
  opacity: 1 !important;
}

/* line 320, ../sass/main.sass */
.alert {
  -moz-transition: opacity, 0.5s, linear;
  -o-transition: opacity, 0.5s, linear;
  -webkit-transition: opacity, 0.5s, linear;
  transition: opacity, 0.5s, linear;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 20%;
  width: 60%;
  background: rgba(255, 0, 0, 0.5);
  line-height: 25px;
  margin-top: 18px;
  top: 0px;
}

/* line 333, ../sass/main.sass */
.list {
  font: 400 1.21em KaTeX_Main;
}
/* line 335, ../sass/main.sass */
.list .items {
  display: block;
  width: 100%;
  margin: 10pxp;
}
/* line 340, ../sass/main.sass */
.list .num {
  font-size: 21px;
  margin: 5px;
}
/* line 344, ../sass/main.sass */
.list .num:after {
  content: ".";
}

/* line 347, ../sass/main.sass */
.menu {
  background-color: #4a4d50;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 352, ../sass/main.sass */
.menu .menu-item {
  cursor: pointer;
  color: white;
  padding: 8px;
  font-size: 0.95em;
  text-align: center;
  -webkit-flex: 1;
  flex: 1;
}
/* line 360, ../sass/main.sass */
.menu .menu-item:hover {
  background-color: #009AFD;
}

/* line 363, ../sass/main.sass */
.slide-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  box-sizing: border-box;
  height: 100%;
  z-index: 10;
  background-color: #009AFD;
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  -moz-transition: -moz-transform, 0.5s, ease;
  -o-transition: -o-transform, 0.5s, ease;
  -webkit-transition: -webkit-transform, 0.5s, ease;
  transition: transform, 0.5s, ease;
}
/* line 374, ../sass/main.sass */
.slide-menu .slide-menu-item {
  cursor: pointer;
  padding: 10px;
}
/* line 379, ../sass/main.sass */
.slide-menu .slide-menu-item:hover {
  background-color: #008ae4;
}

/* line 383, ../sass/main.sass */
.slide-menu-visible {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
}
